<html>
  <head>
    <title>Admin Dashboard</title>
  </head>
  <body>
    <h1>Admin Dashboard</h1>
    <!-- clear cookies button execute function clearCookies()-->
    <button id="clear-cookies">Clear Cookies</button>

    <section>
      <h2>Pending Registrations</h2>
      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Device ID</th>
          <th>Requested At</th>
          <th>Action</th>
        </tr>
        {% for reg in registrations %}
        <tr>
          <td>{{ reg.name }}</td>
          <td>{{ reg.email }}</td>
          <td>{{ reg.device_id }}</td>
          <td>{{ reg.created_at }}</td>
          <td>
            <button
              onclick="approveRegistration('{{ reg.id }}', '{{ reg.name }}', '{{
                reg.device_id
              }}')"
            >
              Approve
            </button>
          </td>
        </tr>
        {% endfor %}
      </table>
    </section>

    <section>
      <h2>Users</h2>
      <table>
        <tr>
          <th>User ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Department ID</th>
          <th>Action</th>
        </tr>
        {% for user in users %}
        <tr>
          <td>{{ user.user_id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.dept_id }}</td>
          <td>
            <button onclick="editUser('{{ user.user_id }}')">Edit</button>
          </td>
        </tr>
        {% endfor %}
      </table>
    </section>

    <script>
      console.log("Admin Dashboard loaded");

      async function approveRegistration(registrationId, name, deviceId) {
        console.log(
          `clicked approve on id ${registrationId}, name ${name}, deviceId ${deviceId}`
        );
        try {
          const response = await fetch("/admin/approve_registration", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ device_id: deviceId, device_name: name }),
          });

          if (!response.ok) {
            throw new Error(
              "Network response was not ok " + response.statusText
            );
          }

          const data = await response.json();
          console.log("Success:", data);
        } catch (error) {
          console.error("Error:", error);
        }
      }

      function editUser(userId) {
        alert("In progress");
        // For demonstration, navigate to the edit user route
        // window.location.href = `/admin/edit/${userId}`;
      }

      // clear cookies function
      function clearCookies() {
        document.cookie =
          "session=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        console.log("Cookies cleared");
        // home
        window.location.href = "/";
      }
      document
        .getElementById("clear-cookies")
        .addEventListener("click", clearCookies);
    </script>
  </body>
</html>
