<!DOCTYPE html>
<html lang="en">
<div id="app-container">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <!-- Link to your CSS files here -->
    <link rel="stylesheet" href="../serve/css/global.css">
</head>
<body>
    <div class="error-container">
        <h1>Oops!</h1>
        <p>{{ message }}</p>
        <a href="/" class="button">Go Back Home</a>
    </div>
</body>
<div>
</html>
