<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <form>
      <!-- send post request to /punch -->
      <h2 class="form-container">Scan your badge</h2>
      <label for="name">Scan</label>
      <input type="password" placeholer="scan" required autofocus>
     <button type="submit">Send POST Request</button>

    </form>
    <!-- More forms or buttons to interact with other API endpoints -->

    <script>
        // Handle sending POST request
        const form = document.querySelector('form');
        form.addEventListener('submit', async (event) => {
        event.preventDefault();
        const formData = new FormData(form);
        const response = await fetch('/punch', {
            method: 'POST',
            body: formData
        });
        const data = await response.json();
        console.log(data);
      });
    </script>
</body>
</html>

<style>
    .form-container {
        display: flex;
        flex-direction: column;
        width: 300px; /* Adjust the width as needed */
    }
    .form-container label,
    .form-container input,
    .form-container button {
        margin-bottom: 10px; /* Space between form elements */
    }
</style>

