<!DOCTYPE html>
<html>
  <head>
    <title>Simple Login</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/helpers.js"></script>
  </head>
  <body>
    <form id="loginForm" class="form-container" action="/login" method="post">
      <h2>Login to view list</h2>
      <input
        type="password"
        name="scan_id"
        id="user_token"
        autofocus
        placeholder="Enter Access Token"
      />
      <button class="big-login-button" type="submit">Login</button>
      <button class="block-button" onclick="location.href='/home'">
        Go to Homepage
      </button>
    </form>
    <div id="statusMessage">{{ message }}</div>
    <!-- Placeholder for the message -->
  </body>
</html>

<script>
  setInputClearTimer("#user_token", 3000);
  startInactivityTimer(10000);
  document
    .getElementById("loginForm")
    .addEventListener("submit", async function (event) {
      event.preventDefault();
      const inputField = document.getElementById("user_token");
      const userToken = extractUserId(inputField.value);

      const response = await fetch("/login", {
        method: "POST",
        headers: { "Content-Type": "application/x-www-form-urlencoded" },
        body: `user_token=${encodeURIComponent(userToken)}`,
      });

      const statusMessage = document.getElementById("statusMessage");

      // Handle the response

      if (response.ok) {
        const data = await response.json();
        if (data.success && data.redirect) {
          // Login successful
          statusMessage.textContent = data.message;
          setTimeout(() => {
            window.location.href = data.redirect;
          }, 2000); // Redirect after 2 seconds
        } else {
          // Login failed
          statusMessage.textContent = data.message;
          setTimeout(() => {
            statusMessage.textContent = "";
            inputField.value = "";
          }, 2000); // Display error message for 2 seconds
        }
      } else {
        statusMessage.textContent = "An error occurred. Please try again.";
      }
    });
</script>

<style>
  .form-container {
    display: flex;
    flex-direction: column;
    width: 300px; /* Adjust the width as needed */
  }
  .form-container label,
  .form-container input,
  .form-container button {
    margin-bottom: 10px; /* Space between form elements */
  }

  .big-login-button {
    padding: 20px 40px; /* Adjust size as needed */
    color: magenta;
    font-size: 24px; /* Adjust font size as needed */
    margin: 10px; /* Space between buttons */
    cursor: pointer;
  }

  .big-button {
    padding: 20px 40px; /* Adjust size as needed */
    font-size: 24px; /* Adjust font size as needed */
    margin: 10px; /* Space between buttons */
    cursor: pointer;
  }
</style>
