<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>User Statuses</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/helpers.js"></script>
    <!-- Add this script tag to include xlsx library for Excel export -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
  </head>
  <body>
    <div style="display: flex; align-items: center">
      <button
        class="circle-button"
        onclick="location.href='/home'"
        style="
          display: block;
          margin-bottom: 20px;
          margin-right: 20px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
          padding: 0;
          border: none;
        "
      >
        <img
          src="../static/images/back_arrow.png"
          alt="Go to Homepage"
          style="width: 100%; height: auto"
        />
      </button>
      <h1>User Statuses (Last 24-hrs)</h1>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Last Punch Time</th>
          </tr>
        </thead>
        <tbody id="table-body">
          {% for user_status in user_statuses %}
          <tr>
            <td>{{ user_status.name }}</td>
            <td>{{ user_status.in_out }}</td>
            <td class="iso-date">{{ user_status.last_punch_time }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Add buttons for CSV and Excel download -->
    <button onclick="downloadCSV()">Download CSV</button>
    <button onclick="downloadExcel()">Download Excel</button>
    <button
      class="block-button"
      onclick="location.href='/home'"
      style="position: fixed; bottom: 0"
    >
      Go to Homepage
    </button>
  </body>
</html>

<script>
  startInactivityTimer(60000);
  console.log(
    "Number of rows: " + document.getElementById("table-body").rows.length
  );

  function downloadCSV() {
    const headers = document.querySelectorAll("thead tr th");
    const rows = document.querySelectorAll("#table-body tr");

    let csvContent = "";

    // Add headers to CSV content
    const headerArray = Array.from(headers).map((header) => header.innerText);
    csvContent += headerArray.join(",") + "\n";

    // Add rows to CSV content
    rows.forEach((row) => {
      const cols = row.querySelectorAll("td");
      const data = Array.from(cols)
        .map((col) => col.innerText)
        .join(",");
      csvContent += data + "\n";
    });

    const blob = new Blob([csvContent], { type: "text/csv" });
    const url = window.URL.createObjectURL(blob);
    const a = document.createElement("a");
    a.setAttribute("hidden", "");
    a.setAttribute("href", url);
    a.setAttribute("download", "status_list.csv");
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
  }

  function downloadExcel() {
    const table = document.getElementById("table-body");
    const tableClone = table.cloneNode(true);

    // Include thead in the cloned table
    const thead = document.querySelector("thead");
    const theadClone = thead.cloneNode(true);
    tableClone.prepend(theadClone);

    const worksheet = XLSX.utils.table_to_sheet(tableClone);
    const workbook = XLSX.utils.book_new();
    XLSX.utils.book_append_sheet(workbook, worksheet, "Status List");
    XLSX.writeFile(workbook, "status_list.xlsx");
  }
</script>
