<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>User Table</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <h1>User Statuses</h1>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Last In</th>
            <th>Last Out</th>
          </tr>
        </thead>
        <tbody>
          {% for user_status in user_statuses %}
          <tr>
            <td>{{ user_status.name }}</td>
            <td>{{ user_status.last_in_time | default(value="") }}</td>
            <td>{{ user_status.last_out_time | default(value="") }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <a href="/home">Go back home</a>
  </body>
</html>
<script></script>

<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }

  table,
  th,
  td {
    border: 2px double #ddd; /* Double lines for grid */
  }

  th,
  td {
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #e8e8e8; /* Highlight on hover */
  }

  /* This is a class to format the date, we'll add it in the <td> tag */
  .iso-date {
    white-space: nowrap; /* Prevents wrapping */
  }
</style>
