<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>UserList</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <a href="/home">Go back home</a>
  </head>
  <body>
    <!-- list of users -->
    <h1>List of users</h1>
    <ul class="grid-table">
      {% for user in users %}
      <li>{{ user.name }}</li>
      {% endfor %}
    </ul>
    <!-- More forms or buttons to interact with other API endpoints -->

    <script>
      // script stuff
    </script>
  </body>
</html>

<style>
  .form-container {
    display: flex;
    flex-direction: column;
    width: 300px; /* Adjust the width as needed */
  }
  .form-container label,
  .form-container input,
  .form-container button {
    margin-bottom: 10px; /* Space between form elements */
  }

  .grid-table {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); /* Adjust column width as needed */
    gap: 1px; /* This creates the gridlines */
    background-color: #000; /* Gridline color */
    padding: 0;
  }

  .grid-table li {
    background-color: #fff; /* Background color of list items */
    list-style-type: none; /* Remove bullet points */
    padding: 10px; /* Adjust padding as needed */
    margin: 0;
  }
</style>
